body {
    margin:0;
}

table {
  width: 100%;
  text-align: left;
}

tr {
  box-shadow: inset 0px -1px 0px rgba(155, 155, 155, 0.3);
}

  tr th {
    padding-bottom: 8px;
    color: rgb(128, 128, 128);
  }

.pagination-controls {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.hide-page-numbers .ngx-pagination li:not(.pagination-previous):not(.pagination-next) {
  display: none;
}

.rows-per-page {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 45px;
}
